body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: inline-grid;
  gap: 15px;
  grid-template-columns: 1/4fr 3/4fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #006157;
}

.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  background-color: #005b94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7e1dc3;
}

.footer {
  grid-area: 4 / 1 / 5 / 3;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
